[Unit]
Description=ETHII Node
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/root/ethii --config /root/ethii-data/config.toml --datadir /root/ethii-data --networkid 20482 --syncmode full --snapshot=false --gcmode archive --state.scheme hash --http --http.addr 0.0.0.0 --http.port 8545 --http.corsdomain * --http.vhosts * --http.api eth,net,web3,miner,admin,debug,ethash --bootnodes enode://348b5a90336ebd6be5f2910910c6870cadb8a6853820211f6a8696cb1446203a8a4fd54c9fcef39b63505bab43b8b3bd3528eb3dccdf4b62274ac191ad1e0ea0@91.99.231.217:30303 --maxpeers 50 --nat extip:87.99.142.128 --miner.pending.feeRecipient 0xbAA2144072f96b162017D47efdA18159Cba566e9
ExecStartPost=/bin/bash -c "sleep 3 && /root/init-miner.sh &"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
