[Unit]
Description=ETHII Node (Node-Only)
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/root/ethii --config /root/ethii-data/config.toml --datadir /root/ethii-data --networkid 20482 --syncmode full --snapshot=false --gcmode archive --state.scheme hash --http --http.addr 127.0.0.1 --http.port 8545 --http.corsdomain * --http.vhosts * --http.api eth,net,web3,admin,debug,ethash,miner --miner.pending.feeRecipient 0xbAA2144072f96b162017D47efdA18159Cba566e9 --bootnodes enode://05f7f1c669368d16829699b6e1ddffbd8a3fee08a1301cac33922ad05f56fd53aadbca02f326d6b1c863c560c9adf30a75b44d45e7448ebb41d9c47235204fdf@87.99.142.128:30303 --maxpeers 50 --nat extip:91.99.231.217
ExecStartPost=/usr/local/bin/ethii-miner-start.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
